$corFundo2:#4B5945;
$corFundo3:#F79B72; 
$corFundo4:#FDFAF6;
$corFundo5:#B2CD9C;
$corFundo6:#EFDCAB;

$corFundoBotao:#27391C;
$corFundoBotaoHover:#255F38;


$corFonte1:#000000;
$corFonte2:#FFFDF6;


$fonteGeral:"Red Hat Display", sans-serif;